asgiref==3.8.1
bcrypt==4.3.0
bson==0.5.10
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.7
django-allauth==65.5.0
django-appconf==1.1.0
django-compressor==4.5.1
django-debug-toolbar==5.0.1
djangorestframework==3.15.2
dnspython==2.7.0
flake8==7.1.2
gunicorn==23.0.0
idna==3.10
mccabe==0.7.0
packaging==24.2
pycodestyle==2.12.1
pyflakes==3.2.0
pymango==0.1.1
pymongo==4.11.3
python-dateutil==2.9.0.post0
rcssmin==1.1.2
requests==2.32.3
rjsmin==1.2.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.3.0
whitenoise==6.9.0
